{{- if .Params.buyMeACoffee }}
<script data-name="BMC-Widget" data-cfasync="false"
		src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
		data-id="sldk"
		data-description="Support me on Buy me a coffee!"
		data-message=""
		data-color="#f05f70"
		data-position="Right" data-x_margin="18" data-y_margin="18"></script>
{{- end }}

{{- if .Site.Params.GoogleAnalyticsTag }}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{.Site.Params.GoogleAnalyticsTag}}"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', '{{.Site.Params.GoogleAnalyticsTag}}');
</script>
{{- end }}
